//contacts

.contacts {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  padding-top: 28px;
  margin-bottom: 24px;

  border: none;
}

.contacts__title {
  display: none;
}

.contacts__item label {
  display: block;
  margin-bottom: 5px;
  padding-left: 23px;

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #d22856;
  text-transform: uppercase;
}

.contacts__input {
  width: 100%;
  padding-top: 19px;
  padding-bottom: 20px;
  padding-left: 22px;
  padding-right: 62px;
  margin-bottom: 18px;

  vertical-align: middle;

  box-sizing: border-box;
  border: 2px solid #e5e5e5;
}

.contacts__input:hover,
.contacts__input:focus {
  border: 2px solid #283645;
}

.contacts__input:active {
  border: 2px solid #d22856;
}

input.contacts__input::placeholder {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}

@media (min-width: 660px) {
  .contacts {
    width: 616px;
    margin-bottom: 42px;

    border: 2px solid #e5e5e5;
  }

  .contacts__title {
    display: block;
    margin: 0 auto;
    padding: 0 32px;

    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #d22856;
    text-transform: uppercase;
  }

  .contacts__item {
    position: relative;

    display: flex;
    flex-direction: column-reverse;

    padding: 0 58px;
  }

  .contacts__item label {
    margin-bottom: 29px;
  }

  .contacts__input {
    margin-bottom: 10px;
  }

  .contacts__item--phone,
  .contacts__item--mail {
    &::after {
      content: "";

      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 100;

      width: 59px;
      height: 59px;

      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-color: #e5e5e5;
    }
  }

  .contacts__item--mail::after {
    background-image: url("../img/icon-mail.svg");
  }
}

@media (min-width: 960px) {
  .contacts {
    width: 936px;
    margin-bottom: 55px;
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-left: 58px;
  }

  .contacts__item {
    width: 375px;
    padding: 0;

    &:nth-child(2n-1) {
      margin-right: 70px;
    }
  }

  .contacts__item label {
    margin-bottom: 13px;
  }

  .contacts__input {
    width: 375px;
  }
}
