//photos

.photos {
  padding-top: 44px;
}

.photos__title {
  width: 270px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 48px;

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  text-align: center;
}

.photos__list {
  @include list-style;
}

@media (min-width: 660px) {
  .photos {
    padding-top: 90px;
  }

  .photos__title {
    width: 450px;
    margin-bottom: 75px;

    font-size: 18px;
  }

  .photos__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: 960px) {
  .photos {
    padding-top: 94px;
  }

  .photos__title {
    width: 600px;
    margin-bottom: 90px;
  }

  .photos__list {
    width: 940px;
  }
}
