//adj-list

.adj-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 208px;
  margin: 0 auto;
  padding: 0 36px;
  padding-bottom: 71px;

  border-bottom: 1px solid #dddfe0;
}

.adj-list__item {
  position: relative;
}

.adj-list__button {
  padding: 0;
  margin: 0;
  width: 48px;
  height: 44px;

  background-color: transparent;

  border: none;
  cursor: pointer;
}

.adj-list__button:hover .path-main,
.adj-list__button:focus .path-main {
  fill: #8d949b;
}

.adj-list__button:active .path-main {
  fill: #d22856;
}

.adj-list__button--active .path-main {
  fill: #d22856;
}

.adj-list__button--active:hover .path-main,
.adj-list__button--active:focus .path-main {
  fill: #d22856;
}

.adj-list__controls {
  position: relative;

  display: none;

  font-size: 0;
  line-height: 0;
}

.adj-list__controls--active {
  position: absolute;
  left: -18px;
  top: 71px;

  display: block;
}

.adj-list__range {
  appearance: none;
  width: 240px;
  height: 2px;
  background-color: #283645;
}

.adj-list__range::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;

  border: 2px solid #d22856;
  background-color: #f2f2f2;
  border-radius: 50%;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #d22856;
  }
}

@media (min-width: 660px) {
  .adj-list {
    width: 276px;
    padding: 0;
    display: flex;
    flex-direction: column;

    border: none;
  }

  .adj-list__item {
    display: flex;
    padding-bottom: 24px;
    padding-top: 27px;

    border-bottom: 1px solid #dddfe0;
  }

  .adj-list__item--crop {
    padding-top: 15px;
  }

  .adj-list__button {
    width: 22px;
    height: 22px;
  }

  .adj-list__button .path-main {
    fill: #d22856;
  }

  .adj-list__item svg {
    width: 22px;
    height: 22px;
  }

  .adj-list__item--contrast svg {
    width: 16px;
    height: 16px;
  }

  .adj-list__controls {
    display: block;
    padding-top: 10px;
    padding-left: 30px;
  }

  .adj-list__controls--active {
    position: relative;
    left: 0;
    top: 0;
  }

  .adj-list__range {
    width: 202px;
  }
}

@media (min-width: 960px) {
  .adj-list {
    width: 410px;
  }

  .adj-list__item {
    padding-bottom: 13px;
    padding-top: 15px;

    border-bottom: 1px solid #dddfe0;
  }

  .adj-list__item--crop {
    padding-top: 0;
  }

  .adj-list__button {
    width: 44px;
    height: 44px;
  }

  .adj-list__item svg {
    width: 44px;
    height: 44px;
  }

  .adj-list__item--contrast svg {
    width: 32px;
    height: 32px;
  }

  .adj-list__controls {
    display: block;
    padding-top: 21px;
    padding-left: 47px;
  }

  .adj-list__range {
    width: 288px;
  }
}
