//advantages

.advantages {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

.advantages__container {
  padding-top: 40px;
}

.advantages__intro {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;

  font-size: 24px;
  line-height: 120%;
  font-weight: 300;
  color: #283645;
  text-align: center;
}

.advantages__list {
  margin: 0 auto;
  padding: 0;
  padding-top: 80px;

  list-style: none;

  text-align: center;
  background-color: #f2f2f2;
}
