//advantage

.advantage__title {
  margin: 0;
  margin-bottom: 20px;
  line-height: 24px;
}

.advantage__description {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 33px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
}

@media (min-width: 660px) {
  .advantage__description {
    width: 310px;
    margin: 0;
    margin-bottom: 40px;
  }
}

@media (min-width: 1200px) {
  .advantage {
    position: relative;
    width: 303px;
    padding: 0;
  }

  .advantage__title {
    width: 240px;
    margin: 0 auto;
    margin-bottom: 30px;

    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .advantage__description {
    width: 248px;
    margin: 0 auto;

    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .advantages__title--grey {
    &::before {
      content: "";
      position: absolute;
      top: -360px;
      left: 10px;

      width: 292px;
      height: 302px;

      background-image: url("../img/iphone-screen-1-desktop@1x.png");
      background-position: 50% top;
      background-repeat: 0;
      z-index: 5;
    }
  }

  .advantages__title--pink {
    &::before {
      content: "";
      position: absolute;
      top: -360px;
      left: 10px;

      width: 292px;
      height: 302px;

      background-image: url("../img/iphone-screen-2-desktop@1x.png");
      background-position: 50% top;
      background-repeat: 0;
      z-index: 5;
    }
  }

  .advantages__title--smile {
    &::before {
      content: "";
      position: absolute;
      top: -360px;
      left: 10px;

      width: 292px;
      height: 302px;

      background-image: url("../img/iphone-screen-3-desktop@1x.png");
      background-position: 50% top;
      background-repeat: 0;
      z-index: 5;
    }
  }
}
