//feelings

.feelings {
  width: 280px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 35px;

  border: none;
}

.feelings__title {
  margin: 0;
  padding: 0 50px;
  margin-bottom: 15px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #d22856;
  text-transform: uppercase;
  text-align: center;
}

.feelings__item {
  margin: 0;
  padding: 0;
}

.feelings__text {
  width: 276px;
  height: 197px;

  border: 2px solid #e5e5e5;
  border-radius: 5px;
}

.feelings__text:hover,
.feelings__text:focus {
  border: 2px solid #283645;
}

.feelings__text:active {
  border: 2px solid #d22856;
}

.feelings__text::placeholder {
  display: block;
  padding-left: 20px;
  padding-top: 15px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
}

@media (min-width: 660px) {
  .feelings {
    width: 616px;
    margin-bottom: 67px;

    border: 2px solid #e5e5e5;
  }

  .feelings__title {
    margin-bottom: 36px;
    padding: 0 38px;
  }

  .feelings__text {
    display: block;
    width: 496px;
    height: 186px;
    margin: 0 auto;
    margin-bottom: 51px;

    resize: none;
  }
}

@media (min-width: 960px) {
  .feelings {
    width: 936px;
    margin-bottom: 65px;
  }

  .feelings__text {
    width: 816px;
    height: 121px;
    margin-bottom: 43px;
  }

  .feelings__title {
    margin-bottom: 30px;
  }
}
