//inner-header

.inner-header {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 250px;
  background-color: #2a3746;
  background-size: cover;
}

@media (min-width: 660px) {
  .inner-header {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }
}

@media (min-width: 1200px) {
  .inner-header {
    min-height: 395px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center 0;
  }

  .inner-header__logo {
    position: absolute;
    left: 0;
  }
}
