//inner-header

.inner-header {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 250px;
  background-color: #2a3746;
  background-size: cover;
}
