//page-main

.page-main {
  position: relative;

  background-image:
    url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-tablet@1x.jpg");
  background-repeat: no-repeat;
  background-size:
    auto,
    660px 462px;
  background-position:
    center 176px,
    center top;
  background-color: #2a3746;
}

.page-main--inner {
  background: none;
}

.page-main__wrapper {
  padding-top: 97px;
  padding-bottom: 83px;

  background-image: url("../img/bg-back-tablet@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #ffffff;
  background-size: cover;
}

.page-main__title {
  width: 175px;
  margin: 0 auto;
  padding: 0;

  background-color: transparent;

  font-size: 24px;
  line-height: 120%;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

.page-main__title--form-title {
  width: 240px;
}

@media (min-width: 660px) {
  .page-main {
    min-height: 729px;
    margin: 0 auto;

    background-image:
      url("../img/iphone-hand-tablet@1x.png"),
      url("../img/bg-back-tablet@1x.jpg");
    background-size:
      auto,
      auto;
    background-position:
      center 185px,
      center top;
    background-color: #283645;
  }

  .page-main--inner {
    min-height: auto;

    background: none;
  }

  .page-main__wrapper {
    padding-top: 180px;
    padding-bottom: 140px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  .page-main__title {
    width: 370px;
    padding: 0;

    font-size: 50px;
  }

  .page-main__title--form-title {
    width: 480px;
  }
}

@media (min-width: 960px) {
  .page-main {
    min-height: 853px;
    padding-bottom: 0;

    background-image:
      url("../img/iphone-hand-desktop@1x.png"),
      url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size:
      auto,
      auto;
    background-position:
      center 209px,
      center top;
    background-color: transparent;
  }

  .page-main--inner {
    min-height: auto;

    background: none;
  }

  .page-main__wrapper {
    padding-top: 172px;
    padding-bottom: 100px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .page-main__title--form-title {
    width: 750px;
  }
}
