//page-header

.page-header {
  position: relative;

  width: 320px;
  margin: 0 auto;
  margin-bottom: 270px;
  padding-bottom: 395px;

  background-image:
    url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size:
    auto,
    auto;
  background-position:
    left bottom,
    bottom;
  background-color: #2a3746;
}




