//page-header

.page-header {
  background-image:
    url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size:
    auto,
    auto;
  background-position:
    left 435px,
    center 325px;
  background-color: #2a3746;
}

@media (min-width: 660px) {
  .page-header {
    min-height: 729px;
    width: 660px;
    margin: 0 auto;

    background-image:
      url("../img/iphone-hand-tablet@1x.png"),
      url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size:
      auto,
      auto;
    background-position:
      -20px bottom,
      bottom;
    background-color: #283645;
  }
}

@media (min-width: 1200px) {
  .page-header {
    position: relative;

    min-height: 853px;
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 0;

    background-color: transparent;
    background-image:
      url("../img/iphone-hand-desktop@1x.png"),
      url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size:
      auto,
      auto;
    background-position:
      150px bottom,
      top;
  }

  .page-header__logo {
    position: absolute;
    left: 0;
  }
}
