//photos

.photos {
  width: 320px;
  margin: 0 auto;
  padding-top: 44px;
}

.photos__title {
  width: 270px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 48px;

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  text-align: center;
}

.photos__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
