//photo-item

.photo-item {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.photo-item__comment {
  padding-top: 18px;
  padding-left: 18px;

  background-color: #f2f2f2;
}

.photo-item__link {
  height: 180px;
}

.photo-item__img {
  width: 280px;
  height: 180px;
}

.photo-item__author-name {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #283645;
  text-align: left;
}

.photo-item__time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  color: #283645;
  text-transform: uppercase;
}

.photo-item__text {
  width: 240px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
  text-align: left;
}

.photo-item__like {
  position: relative;

  display: flex;
  padding-left: 21px;
  padding-bottom: 22px;

  font: inherit;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #d22856;
  text-transform: uppercase;
}

.photo-item__like::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  z-index: 100;

  width: 13px;
  height: 12px;

  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 660px) {
  .photo-item {
    width: 300px;
  }

  .photo-item__comment {
    display: flex;
    flex-direction: column;
    min-height: 155px;

    padding-top: 25px;
    padding-left: 25px;
  }

  .photo-item__link {
    height: 300px;
  }

  .photo-item__img {
    width: 300px;
    height: 300px;
  }

  .photo-item__like {
    margin-top: auto;
    padding-left: 0;
  }

  .photo-item__like::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 227px;
    z-index: 100;

    width: 13px;
    height: 12px;

    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: 960px) {
  .photo-item__link {
    height: 400px;
  }

  .photo-item__img {
    height: 400px;
  }
}
