//price

.price {
  padding-bottom: 47px;

  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  background-color: #f2f2f2;
}

.price__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-top: 80px;

  overflow: hidden;

  box-sizing: border-box;
}

.price__list {
  width: 840px;
  margin-bottom: 40px;

  border-collapse: collapse;
  border-spacing: 0;

  background: #ffffff;

  transform: translateX(-260px);
}

.price__list-head {
  // background-color: #283645;
}

.price__value,
.price__field {
  width: 280px;
}

.price__value--empty,
.price__field--empty {
  display: none;
}

.price__value {
  position: relative;

  padding-top: 17px;
  padding-bottom: 20px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  background-color: #283645;
  border-left: 2px solid #e5e5e5;
}

.price__value--hit {
  &::before {
    content: "";

    position: absolute;
    top: 0px;
    left: 0px;

    width: 74px;
    height: 73px;

    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
  }

  &::after {
    content: "ХИТ";

    position: absolute;
    top: 14px;
    left: 7px;

    font-size: 14px;
    line-height: 30px;
    font-weight: 400;

    transform: rotate(-45deg);
  }
}

.price__cost {
  display: block;
  padding-top: 2px;

  font-size: 24px;
  font-weight: 300;
}

.price__field {
  position: relative;

  padding-top: 15px;
  padding-right: 124px;
  padding-bottom: 15px;
  padding-left: 22px;

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #283645;
  text-align: left;

  border-bottom: 2px solid #e5e5e5;
  border-left: 2px solid #e5e5e5;
}

.price__field--yes {
  &::after {
    content: "";

    position: absolute;
    top: 20px;
    right: 17px;

    width: 31px;
    height: 21px;

    background-image: url("../img/icon-yes.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
  }
}

.price__field--no {
  &::after {
    content: "";

    position: absolute;
    top: 20px;
    right: 15px;

    width: 27px;
    height: 26px;

    background-image: url("../img/icon-no.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
  }
}

@media (min-width: 660px) {
  .price {
    padding: 0;
  }

  .price__wrapper {
    width: 620px;
    margin: 0 auto;
    padding-bottom: 68px;
    padding-top: 88px;

    overflow: visible;
  }

  .price__list {
    width: 620px;

    transform: translateX(0);
  }

  .price__value,
  .price__field {
    width: 155px;
  }

  .price__value--empty,
  .price__field--empty {
    display: table-cell;
  }

  .price__value--empty {
    // min-height: 82px;

    background: #f2f2f2;
    border-left: none;
  }

  .price__value--first {
    border-left: none;
  }

  .price__value {
    padding-top: 12px;
    padding-bottom: 10px;

    font-size: 16px;
  }

  .price__value--hit {
  &::before {
    top: 0px;
    left: 0px;

    width: 61px;
    height: 61px;

    background-image: url("../img/bg-hit-tablet.svg");
  }

  &::after {
    top: 6px;
    left: 4px;
  }
}

  .price__field {
    padding: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;

    text-transform: none;
  }

  .price__field--yes {
    &::after {
      top: 13px;
      left: 61px;
      right: 0;
    }
  }

  .price__field--no {
    &::after {
      top: 9px;
      right: 0;
      left: 63px;
    }
  }

  .price__field--first {
    border-top: 2px solid #e5e5e5;
  }

  .price__field--last {
    border-right: 2px solid #e5e5e5;
  }

  .price__text {
    display: none;
  }

  .price__cost {
    padding: 0;

    font-size: 18px;
  }
}

@media (min-width: 960px) {
  .price__wrapper {
    width: 940px;
    padding-bottom: 95px;
    padding-top: 150px;
  }

  .price__list {
    width: 940px;
  }

  .price__value,
  .price__field {
    width: 234px;
  }

  .price__value {
    padding-top: 17px;
    padding-bottom: 21px;

    font-size: 18px;
  }

  .price__cost {
    padding-top: 3px;

    font-size: 24px;
  }

  .price__value--hit {
    &::before {
      top: 0px;
      left: 0px;

      width: 74px;
      height: 73px;

      background-image: url("../img/bg-hit.svg");
    }

    &::after {
      top: 14px;
      left: 7px;
    }
  }

  .price__field {
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 24px;

    font-size: 18px;

    text-transform: none;
  }

  .price__field--yes {
    &::after {
      top: 22px;
      left: 100px;
    }
  }

  .price__field--no {
    &::after {
      top: 16px;
      right: 0;
      left: 102px;
    }
  }
}
