//reviews

.reviews {
  padding-top: 43px;

  background-color: #ffffff;
}

.reviews__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 43px;
}

.reviews__item {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.reviews__author-name {
  margin-bottom: 13px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #000000;
}

.reviews__author-about {
  display: none;
}

.reviews__link {
  display: none;
}

.reviews__text {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: #283645;
}

@media (min-width: 660px) {
  .reviews {
    padding-top: 100px;
  }

  .reviews__wrapper {
    width: 620px;
  }

  .reviews__author-name {
    font-size: 20px;
    margin: 0;
    margin-bottom: 4px;
  }

  .reviews__author-about {
    display: block;
    margin: 0;
    padding: 0;

    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    color: #283645;
  }

  .reviews__text-wrapper {
    order: -1;
  }

  .reviews__text {

    margin-bottom: 33px;

    font-size: 18px;
  }
}

@media (min-width: 960px) {
  .reviews {
    padding-top: 187px;
  }

  .reviews__wrapper {
    width: 940px;
  }

  .reviews__item {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      top: -100px;
      left: 50%;

      width: 79px;
      height: 63px;

      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
    }
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__author-about {
    margin-bottom: 40px;

    font-size: 18px;
  }

  .reviews__text-wrapper {
    width: 940px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .reviews__link {
    display: block;
    width: 41px;
    height: 41px;

    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .reviews__text-wrapper path {
    opacity: 0.3;
  }

  .reviews__link:hover path,
  .reviews__link:focus path {
    opacity: 1;
  }

  .reviews__link:active {
    opacity: 0.1;
  }

  .reviews__text {
    width: 700px;
    margin: 0 auto;

    font-size: 18px;
    margin-bottom: 37px;
  }
}
