//site-list

.site-list {
  @include list-style;
  padding-bottom: 395px;
}

.site-list--secondary {
  padding-bottom: 170px;
}

.site-list__item {
  padding-top: 15px;
  padding-bottom: 15px;

  border-bottom: 1px solid #000101;
  border-top: 1px solid #485461;

  text-align: center;
  text-transform: uppercase;
  background-color: #293745;
}

.site-list__item a {
  color: #ffffff;
}

@media (min-width: 660px) {
  .site-list {
    padding-bottom: 0;
  }

  .site-list--secondary {
    padding-bottom: 330px;
  }
}

@media (min-width: 1200px) {
  .site-list {
    display: flex;
    justify-content: space-between;

    margin-left: 449px;
    width: 621px;
  }

  .site-list--secondary {
    padding-bottom: 0;
  }

  .site-list__item {
    padding-top: 45px;
    padding-bottom: 45px;

    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;

    background-color: transparent;
    border: none;
  }
}
