//slider

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  margin: 0 auto;
}

.slider__toggle {
  width: 6px;
  height: 6px;
  padding: 0;
  margin-right: 13px;

  background-color: #bec2c7;

  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.slider__toggle--active {
  background-color: #ffffff;

  border: 3px solid #283645;
}

@media (min-width: 660px) {
  .slider--table {
    display: none;
  }
}

@media (min-width: 960px) {
  .slider--reviews {
    display: none;
  }
}
