//user-photo

.user-photo {
  padding-top: 30px;
}

.user-photo__title {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 43px;
  padding: 0 12px;

  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  text-align: center;
}

.user-photo__form {
  padding-top: 20px;
  padding-bottom: 41px;

  background-color: #f2f2f2;
}

.user-photo__form-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

.user-photo__picture {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 42px;
  padding: 0;
  height: 374px;
}

.user-photo__image {
  width: 280px;
  height: 374px;
}

.user-photo__button-wrapper {
  width: 280px;
  margin: 0 auto;
}

.user-photo__button {
  display: flex;
  width: 100%;
  margin-top: 38px;
  padding-top: 15px;
  padding-right: 88px;
  padding-bottom: 17px;
  padding-left: 88px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  color: #d22856;

  background-color: #f2f2f2;
  border: 3px solid #d22856;
  border-radius: 50px;
  box-sizing: border-box;
  cursor: pointer;
}

.user-photo__button:hover,
.user-photo__button:focus {
  background-color: #d22856;
  color: #ffffff;
}

.user-photo__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.user-photo__button--cancel {
  margin-top: 12px;
  padding-right: 102px;
  padding-left: 102px;

  color: rgba(40, 54, 69, 0.1);

  border: 3px solid #dddfe0;
}

.user-photo__button--cancel:hover,
.user-photo__button--cancel:focus {
  border: 3px solid #b5b9be;
  color: rgba(40, 54, 69, 0.3);
  background-color: transparent;
}

.user-photo__button--cancel:active {
  background-color: #b5b9be;
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 660px) {
  .user-photo {
    padding-top: 46px;
  }

  .user-photo__title {
    width: 620px;
    margin-bottom: 70px;

    font-size: 18px;
  }

  .user-photo__form {
    padding-bottom: 54px;
  }

  .user-photo__picture {
    width: 300px;
    height: 400px;
    margin: 0;
  }

  .user-photo__image {
    width: 300px;
    height: 400px;
  }

  .user-photo__form-wrapper {
    display: flex;
    justify-content: space-between;
    width: 620px;
  }

  .user-photo__form-container {
    display: flex;
    flex-direction: column;
  }

  .user-photo__form-container--left {
    margin-right: 45px;
  }

  .user-photo__button-wrapper {
    margin: 0;
    margin-top: auto;
    margin-left: 1px;
    width: 260px;
  }
}

@media (min-width: 960px) {
  .user-photo__title {
    width: 620px;
    margin-bottom: 65px;
    padding: 0 100px;
  }

  .user-photo__form {
    padding-top: 55px;
  }

  .user-photo__form-wrapper {
    width: 801px;
  }

  .user-photo__form-container--left {
    width: 391px;
    margin: 0;
  }

  .user-photo__form-container--right {
    width: 410px;
  }

  .user-photo__button-wrapper {
    display: flex;
    justify-content: space-between;
    width: 410px;
  }

  .user-photo__button {
    width: 183px;
    padding-top: 15px;
    padding-right: 36px;
    padding-bottom: 15px;
    padding-left: 42px;
  }

  .user-photo__button--cancel {
    padding-right: 50px;
    padding-left: 55px;
    margin-top: auto;
  }
}
